/*lists of fonts family by css styes*/
@import url('https://fonts.googleapis.com/css2?family=Kumar+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lalezar&family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pavanam&display=swap');

/*Global Tag Section*/
/*Home Page*/
/*universal selector tag*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Paytone One", serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

/*Login Page*/
body{
    background: black;
    color: white;
}

/*Navigation Bar & Hero Section*/
header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 30px 18%;
    transition: ease .40s;
}

.Logo4{
    font-size: 60px;
    font-weight: 600;
    letter-spacing: 1px;
    color: white;
    margin-inline: -196px;
    font-family: "Kumar One", serif;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

span{
    color: aqua;
    font-family: "Lalezar", serif;
}

/*Navigation Bar Section shows hidden displayed*/
.Navbar3{
    gap: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: calc(.1s * var(--i));
}

.Navbar3 a{
    color: white;
    font-size: 12.6px;
    font-weight: 500;
    padding: 10px 18px;
    border-radius: 4px;
    transition: ease .40s;
    display: none;
}

.Navbar3 a:hover{
    background-color: white;
    color: black;
    box-shadow: 5px 10px 30px gray;
    border-radius: 4.4px;
}

/*Login Section*/
.Login-Container{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-inline: 200px;
    margin-bottom: 210px;
}

.Login-Box{
    background: #222831;
    padding: 30px;
    border-radius: 24px;
    margin-inline: 80px;
    margin-top: 222px;
}

.Login-Box h2{
    margin-bottom: 40px;
    margin-left: 286px;
    font-size: 50px;
}

.Login-Box input{
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #D9D9D9;
    color: black;
}

.Login-Box button{
    width: 36%;
    padding: 12px;
    background-color: #A6AEBF;
    color: black;
    border: none;
    line-height: 2.2;
    border-radius: 18px;
    margin-inline: 216px;
    margin-bottom: 22px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.Login-Box button:hover{
    background-color: grey;
}

/*Footer Section*/
.FOOTER1{
    background: #222831;
    margin-top: 114px;
}

.Main2{
    display: flex;
    flex-wrap: wrap;
}

.Footer-Container1{
    padding: 30px 0;
}

.List1{
    width: 25%;
}

.List1 h4{
    font-size: 22px;
    color: white;
    margin-bottom: 30px;
    position: relative;
    font-family: "Patua One", serif;
}

.List1 h4::before{
    content: "";
    position: absolute;
    height: 2px;
    background-color: white;
    bottom: -10px;
    left: 0;
    width: 60px;
}

.Lis1 ul li:not(:last-child){
    margin-bottom: 16px;
}

.List1 ul li a{
    color: whitesmoke;
    font-size: 20px;
    display: block;
    transition: .3s;
    font-family: "Pavanam", serif;
}

.List1 ul li a:hover{
    color: aqua;
    transform: translateX(14px);
}

.List1 .SOCIAL-MEDIA1 a{
    height: 40px;
    width: 40px;
    background: #A6AEBF;
    color: #181C14;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border-radius: 24px;
    transition: .3s;
    margin-right: 10px;
}

.List1 .SOCIAL-MEDIA1 a:hover{
    transform: scale(1.1);
    background: black;
    color: aqua;
}

.End-Captions1{
    text-align: center;
    padding-top: 18px;
    font-family: "Pavanam", serif;
}

.End-Captions1 p{
    color: whitesmoke;
    font-size: 14px;
    letter-spacing: 2px;
}

.Logo3{
    font-size: 46px;
    font-weight: 600;
    letter-spacing: 1px;
    color: white;
    margin-inline: 53px;
    font-family: "Kumar One", serif;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: calc(.1s * var(--i));
}

.Logo3 span{
    color: black;
}

.Logo3:hover{
    color: black;
    transform: scale(1.1);
}

.Logo3 span:hover{
    color: aqua;
    transform: scale(1.1);
}

/*keyframe animation*/
@keyframes slideRight{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideSci{
    0%{
        transform: translateX(100px) rotate(45deg);
        opacity: 0;
    }
    100%{
        transform: translateX(0) rotate(45deg);
        opacity: 1;
    }
}
@keyframes slideLeft{
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideBottom{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideTop{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes ZoomOut{
    0%{
        transform: scale(1.1);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}

/*Responsive Design*/
/* Mackbook Pro Viewport (1024px x up) */
@media screen and (min-width: 1024px) {
    header {
        padding: 30px 10%;
    }

    .Logo4 {
        font-size: 68px;
        margin-inline: -111px;
    }

    .Navbar3 {
        gap: 10px;
        display: none;
    }

    .Navbar3 a {
        display: block;
        font-size: 14px;
        padding: 12px 20px;
    }

    .Login-Container {
        margin-inline: 150px;
        margin-bottom: 180px;
    }

    .Login-Box {
        max-width: 800px;
        width: 100%;
        margin-inline: auto;
    }

    .Login-Box h2 {
        margin-left: 0px;
        text-align: center;
        font-size: 42px;
    }

    .Login-Box button {
        width: 30%;
        margin-inline: 35%;
    }

    .Main2 {
        padding: 0 5%;
    }

    .List1 {
        padding: 0 20px;
    }

    .List1 h4 {
        font-size: 20px;
    }

    .List1 ul li a {
        font-size: 20px;
    }

    .Logo3 {
        font-size: 40px;
        margin-inline: 40px;
    }
}